<div class="fixed bottom-0 w-full">
  <div class="flex justify-evenly items-center h-16 text-center">
    <div class="cursor-pointer" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="text-blue-400 font-bold rounded-full">
      <button class="p-1">
        <lucide-icon name="home"></lucide-icon>
      </button>
      <p>Home</p>
    </div>
    <div class="cursor-pointer" routerLink="/payments" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="text-blue-400 font-bold rounded-full">
      <button class="p-1">
        <lucide-icon name="arrow-right-left"></lucide-icon>
      </button>
      <p>Payment</p>
    </div>
  </div>
</div>
