<div class="flex mb-3 m-5 ">
  <button [routerLink]="['/payments', friendId]">
    <lucide-icon name="move-left"></lucide-icon>
  </button>

  <div class="ml-5">
    <h3 class="font-bold text-xl">{{ getFriendUser().userFirstName }}</h3>
    <p class="text-gray-600"> &#64;{{ getFriendUser().userAccount }}</p>
  </div>
</div>

<form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" class="p-3 w-full max-w-md">
  <div>
    <div class="mb-4">
      <input autofocus type="number" id="amount" formControlName="amount"
             class="text-center text-3xl bg-transparent w-full text-white rounded focus:outline-none caret-blue-400 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
             placeholder="0€"/>
    </div>

    <div class="flex w-full justify-center items-center">
      <div class="rounded-3xl bg-gray-800 w-fit p-4 flex justify-center items-center"> Main
        • {{ getMainUser().userBalance }}
        €
      </div>
    </div>
    <div class="mb-4 mt-4">
      <input type="text" id="description" formControlName="description"
             class="text-left bg-gray-800 w-full p-4 text-white rounded-2xl focus:outline-none caret-blue-400 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
             placeholder="Add note"/>
    </div>
  </div>
  <div class="p-3 w-full">
    <button *ngIf="action === 'send'; else request" type="submit"
            class="p-2 bg-white text-black w-10/12 rounded-3xl bottom-2 left-0 right-0 m-auto fixed">Send
    </button>
    <ng-template #request>
      <button *ngIf="action === 'request'" type="submit"
              class="p-2 bg-white text-black w-10/12 rounded-3xl bottom-2 left-0 right-0 m-auto fixed">Request
      </button>
    </ng-template>
  </div>
</form>
